:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 984px;
  margin: 0 auto;
  background: #1d1d1f;
  overflow: hidden;
}
.rectangle {
  position: absolute;
  width: 278px;
  height: 948px;
  top: 19px;
  left: 18px;
  font-size: 0px;
  background: url(./assets/images/963e8aae-56ca-4257-901b-683e755b932c.png)
    no-repeat center;
  background-size: cover;
  z-index: 2;
}
.book-store {
  display: block;
  position: relative;
  height: 30px;
  margin: 31px 0 0 33px;
  color: #ffffff;
  font-family: Sofia Sans, var(--default-font-family);
  font-size: 25px;
  font-weight: 800;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 35;
}
.rectangle-1 {
  position: relative;
  width: 252px;
  height: 42px;
  margin: 27px 0 0 13px;
  background: #303030;
  z-index: 32;
  border-radius: 10px;
}
.icons-search {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 9px;
  left: 9px;
  background: url(./assets/images/07cbb138-641f-4a86-ac46-fe0fef9c6839.png)
    no-repeat center;
  background-size: cover;
  z-index: 33;
  overflow: hidden;
}
.search {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 13px;
  left: 102px;
  color: #ffffff;
  font-family: Sofia Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 34;
}
.flex-row-f {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 91px;
  height: 25px;
  margin: 35px 0 0 24px;
  z-index: 39;
}
.icons-home {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(./assets/images/192c7ce7-5276-47c8-b1ef-cda67fa8448e.png)
    no-repeat center;
  background-size: cover;
  z-index: 38;
  overflow: hidden;
}
.home {
  flex-shrink: 0;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Sofia Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 39;
}
.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 151px;
  height: 35px;
  margin: 17px 0 0 0;
  z-index: 41;
}
.rectangle-2 {
  flex-shrink: 0;
  position: relative;
  width: 7px;
  height: 35px;
  background: #c3cc5a;
  z-index: 40;
  border-radius: 0 5px 5px 0;
}
.book-outlined {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(./assets/images/32aa81ce-4d38-4b52-b3b6-1d6a89697371.png)
    no-repeat center;
  background-size: cover;
  z-index: 41;
  overflow: hidden;
}
.book-mark-3 {
  flex-shrink: 0;
  position: relative;
  height: 24px;
  color: #c3cc5a;
  font-family: Sofia Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 13;
}
.flex-row-ce {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 110px;
  height: 24px;
  margin: 17px 0 0 25px;
  z-index: 10;
}
.container-outlined {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(./assets/images/59d17b49-35c8-4eec-8751-ed0976344fa4.png)
    no-repeat center;
  background-size: cover;
  z-index: 10;
  overflow: hidden;
}
.contact {
  flex-shrink: 0;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Sofia Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 9;
}
.flex-row-ce-4 {
  position: relative;
  width: 97px;
  height: 26px;
  margin: 20px 0 0 23px;
  z-index: 42;
}
.user-outlined {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background: url(./assets/images/418f0b4e-978c-4802-bc95-837b67d84737.png)
    no-repeat center;
  background-size: cover;
  z-index: 42;
  overflow: hidden;
}
.message-circle {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 2px;
  left: 1px;
  z-index: 6;
  overflow: hidden;
}
.profile {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 2px;
  left: 40px;
  color: #ffffff;
  font-family: Sofia Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 7;
}
.flex-row-5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 93px;
  height: 24px;
  margin: 22px 0 0 23px;
  z-index: 43;
}
.info-circle-outlined {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(./assets/images/666efe50-3100-485a-940f-ce726a30f36e.png)
    no-repeat center;
  background-size: cover;
  z-index: 43;
  overflow: hidden;
}
.about {
  flex-shrink: 0;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Sofia Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 4;
}
.group {
  position: relative;
  width: 252px;
  height: 42px;
  margin: 440px 0 0 11px;
  background: url(./assets/images/4c835da3-cc17-4316-b89c-28bc76325126.png)
    no-repeat center;
  background-size: cover;
  z-index: 24;
  border-radius: 10px;
}
.icons-sun {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 11px;
  left: 29px;
  background: url(./assets/images/13949510-1a43-45d6-bdbc-6d798efe5bf2.png)
    no-repeat center;
  background-size: cover;
  z-index: 26;
  overflow: hidden;
}
.icons-moon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 11px;
  left: 159px;
  background: url(./assets/images/001b80ef-b66b-4c17-86f9-16183f576bac.png)
    no-repeat center;
  background-size: cover;
  z-index: 29;
  overflow: hidden;
}
.light {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 12px;
  left: 58px;
  color: #ffffff;
  font-family: Sofia Sans, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 27;
}
.dark {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 12px;
  left: 182px;
  color: #ffffff;
  font-family: Sofia Sans, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 30;
}
.flex-row-ca {
  position: relative;
  width: 252px;
  height: 45px;
  margin: 32px 0 0 13px;
  z-index: 22;
}
.rectangle-6 {
  position: absolute;
  width: 202px;
  height: 42px;
  top: 0;
  left: 0;
  cursor: pointer;
  background: #303030;
  border: none;
  z-index: 18;
  border-radius: 10px;
}
.flex-column-c {
  position: absolute;
  width: 131px;
  height: 35px;
  top: 3px;
  left: 49px;
  font-size: 0px;
  z-index: 21;
}
.varun-kubal {
  display: block;
  position: relative;
  height: 18px;
  margin: 0 0 0 0;
  color: #c3cc5a;
  font-family: Sofia Sans, var(--default-font-family);
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 20;
}
.varun-kubal-gmail-com {
  display: block;
  position: relative;
  height: 14px;
  margin: 3px 0 0 0;
  color: #ffffff;
  font-family: Sofia Sans, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
  text-transform: lowercase;
  white-space: nowrap;
  z-index: 21;
}
.rectangle-7 {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 4px;
  left: 4px;
  background: #c3cc5a;
  z-index: 19;
  border-radius: 10px;
}
.rectangle-8 {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 2px;
  left: 210px;
  background: #303030;
  z-index: 15;
  border-radius: 10px;
}
.icons-log-out {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 9px 0 0 9px;
  background: url(./assets/images/d3008bbd-b0ca-4962-9fdc-3b911b9b3735.png)
    no-repeat center;
  background-size: cover;
  z-index: 16;
  overflow: hidden;
}
.icons-user {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 17px;
  left: 8px;
  background: url(./assets/images/081780eb-bee4-4ad3-915a-79fc235cdc6b.png)
    no-repeat center;
  background-size: cover;
  z-index: 22;
  overflow: hidden;
}
.bookmarks {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 36px;
  top: 54px;
  left: 336px;
  color: #ffffff;
  font-family: Roboto Mono, var(--default-font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 45;
}
.rectangle-9 {
  position: absolute;
  width: 209px;
  height: 3px;
  top: 101px;
  left: 343px;
  background: #c3cc5a;
  z-index: 46;
}
.rectangle-a {
  position: absolute;
  width: 255px;
  height: 364px;
  top: 137px;
  left: 332px;
  background: rgba(217, 217, 217, 0.2)
    url(./assets/images/11e29d2c087006cd98fa69f7a6dcc0f0129eceff.png) no-repeat
    center;
  background-size: cover;
  z-index: 48;
  border-radius: 10px;
}
.rectangle-b {
  position: absolute;
  width: 255px;
  height: 364px;
  top: 137px;
  left: 608px;
  background: rgba(217, 217, 217, 0.2)
    url(./assets/images/b4da0e8f31e224d83e8a3aa72df42e0605fed27c.png) no-repeat
    center;
  background-size: cover;
  z-index: 51;
  border-radius: 10px;
}
.rectangle-c {
  position: absolute;
  width: 255px;
  height: 364px;
  top: 137px;
  left: 884px;
  background: rgba(217, 217, 217, 0.2)
    url(./assets/images/75a3400e91a5456d91aa256c86bcc97caa97ea7e.png) no-repeat
    center;
  background-size: cover;
  z-index: 54;
  border-radius: 10px;
}
.rectangle-d {
  position: absolute;
  width: 255px;
  height: 364px;
  top: 137px;
  left: 1160px;
  background: rgba(217, 217, 217, 0.2)
    url(./assets/images/621263e862ed739c489d58dab8ad24cecd55e55b.png) no-repeat
    center;
  background-size: cover;
  z-index: 57;
  border-radius: 10px;
}
.time-of-the-child {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 514px;
  left: 341px;
  color: #ffffff;
  font-family: Roboto Condensed, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 49;
}
.meditations {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 517px;
  left: 1169px;
  color: #ffffff;
  font-family: Roboto Condensed, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 58;
}
.the-party {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 518px;
  left: 893px;
  color: #ffffff;
  font-family: Roboto Condensed, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 55;
}
.a-man-called-ove {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 519px;
  left: 617px;
  color: #ffffff;
  font-family: Roboto Condensed, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 52;
}
