:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 984px;
  margin: 0 auto;
  background: #1d1d1f;
  overflow: hidden;
}
.flex-row {
  position: relative;
  width: 1274px;
  height: 398px;
  margin: 57px 0 0 33px;
  z-index: 10;
}
.rectangle {
  position: absolute;
  width: 372px;
  height: 398px;
  top: 0;
  left: 0;
  background: #3e4d78;
  border-radius: 20px;
}
.rectangle-1 {
  position: relative;
  width: 230px;
  height: 318px;
  margin: 40px 0 0 68px;
  background: rgba(217, 217, 217, 0.2)
    url(./assets/images/11e29d2c087006cd98fa69f7a6dcc0f0129eceff.png) no-repeat
    center;
  background-size: cover;
  z-index: 1;
  border-radius: 20px;
}
.time-of-child {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 860px;
  height: 74px;
  top: 31px;
  left: 414px;
  color: #ffffff;
  font-family: Barlow, var(--default-font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  text-transform: capitalize;
  z-index: 2;
}
.frame {
  position: absolute;
  width: 164px;
  height: 20px;
  top: 107px;
  left: 426px;
  background: url(./assets/images/8cd4abda-1151-4aaa-8abc-b608a3277a14.png)
    no-repeat center;
  background-size: cover;
  z-index: 3;
}
.tender-tale {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 596px;
  height: 79px;
  top: 156px;
  left: 425px;
  color: #ffffff;
  font-family: ABeeZee, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 23.64px;
  text-align: left;
  text-transform: capitalize;
  z-index: 4;
}
.rectangle-2 {
  position: absolute;
  width: 262px;
  height: 43px;
  top: 276px;
  left: 429px;
  background: #b3bc4e;
  z-index: 6;
  border-radius: 10px;
}
.rectangle-3 {
  position: absolute;
  width: 262px;
  height: 43px;
  top: 276px;
  left: 715px;
  border: 1px solid #ffffff;
  z-index: 9;
  border-radius: 10px;
}
.read-now {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 252px;
  height: 26px;
  top: 285px;
  left: 425px;
  color: #000000;
  font-family: ABeeZee, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 23.64px;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 7;
}
.add-cart {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 252px;
  height: 26px;
  top: 285px;
  left: 711px;
  color: #ffffff;
  font-family: ABeeZee, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 23.64px;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 10;
}
.reviews {
  display: block;
  position: relative;
  height: 34px;
  margin: 23px 0 0 53px;
  color: #ffffff;
  font-family: ABeeZee, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 11;
}
.flex-row-a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1271px;
  height: 200px;
  margin: 30px 0 0 75px;
  z-index: 30;
}
.rectangle-4 {
  flex-shrink: 0;
  position: relative;
  width: 407px;
  height: 200px;
  border: 1px solid #ffffff;
  z-index: 14;
  box-sizing: content-box;
}
.flex-row-5 {
  position: relative;
  width: 232px;
  height: 50px;
  margin: 16px 0 0 17px;
  z-index: 16;
}
.avatar-professions-background {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  background: url(./assets/images/d065bd32-176c-4dae-836f-b1f4973de264.png)
    no-repeat center;
  background-size: cover;
  z-index: 15;
  border-radius: 50%;
}
.mark {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  top: 0;
  left: 69px;
  color: #ffffff;
  font-family: ABeeZee, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 16;
}
.frame-6 {
  position: absolute;
  width: 164px;
  height: 20px;
  top: 28px;
  left: 68px;
  background: url(./assets/images/0f18657e-0280-420b-ab97-175fbf02a552.png)
    no-repeat center;
  background-size: cover;
  z-index: 13;
}
.nice-book {
  display: block;
  position: relative;
  height: 32px;
  margin: 15px 0 0 23px;
  color: #ffffff;
  font-family: ABeeZee, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 23.64px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 17;
}
.rectangle-7 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 339px;
  height: 50px;
  margin: 13px 0 0 22px;
  cursor: pointer;
  background: #0052b4;
  border: none;
  z-index: 19;
}
.read-all {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 337px;
  height: 44px;
  color: #ffffff;
  font-family: ABeeZee, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 44px;
  text-align: center;
  text-transform: capitalize;
  z-index: 19;
}
.rectangle-8 {
  flex-shrink: 0;
  position: relative;
  width: 407px;
  height: 200px;
  border: 1px solid #ffffff;
  z-index: 22;
  box-sizing: content-box;
}
.flex-row-bc {
  position: relative;
  width: 232px;
  height: 50px;
  margin: 16px 0 0 17px;
  z-index: 24;
}
.pic-3 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  background: url(./assets/images/f7d89a70-bf52-47c3-b7c3-a9d4ab93029b.png)
    no-repeat center;
  background-size: cover;
  z-index: 23;
  border-radius: 50%;
}
.niko {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  top: 0;
  left: 69px;
  color: #ffffff;
  font-family: ABeeZee, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 24;
}
.frame-9 {
  position: absolute;
  width: 164px;
  height: 20px;
  top: 28px;
  left: 68px;
  background: url(./assets/images/3d5a9d30-7d85-4a79-9fb4-e63f7cf01fa2.png)
    no-repeat center;
  background-size: cover;
  z-index: 21;
}
.good {
  display: block;
  position: relative;
  height: 32px;
  margin: 15px 0 0 23px;
  color: #ffffff;
  font-family: ABeeZee, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 23.64px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 25;
}
.rectangle-a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 339px;
  height: 50px;
  margin: 13px 0 0 22px;
  cursor: pointer;
  background: #0052b4;
  border: none;
  z-index: 27;
}
.read-all-b {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 337px;
  height: 44px;
  color: #ffffff;
  font-family: ABeeZee, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 44px;
  text-align: center;
  text-transform: capitalize;
  z-index: 27;
}
.rectangle-c {
  flex-shrink: 0;
  position: relative;
  width: 407px;
  height: 200px;
  border: 1px solid #ffffff;
  z-index: 30;
  box-sizing: content-box;
}
.flex-row-fe {
  position: relative;
  width: 232px;
  height: 50px;
  margin: 16px 0 0 17px;
  z-index: 32;
}
.img-3 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  background: url(./assets/images/3b033b93-7d25-4352-adf9-eef5153b934b.png)
    no-repeat center;
  background-size: cover;
  z-index: 31;
  border-radius: 50%;
}
.ehap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  top: 0;
  left: 69px;
  color: #ffffff;
  font-family: ABeeZee, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 32;
}
.frame-d {
  position: absolute;
  width: 164px;
  height: 20px;
  top: 28px;
  left: 68px;
  background: url(./assets/images/4ca36566-689d-4348-a52c-8b39451716bd.png)
    no-repeat center;
  background-size: cover;
  z-index: 29;
}
.betufiul {
  display: block;
  position: relative;
  height: 32px;
  margin: 15px 0 0 23px;
  color: #ffffff;
  font-family: ABeeZee, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 23.64px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 33;
}
.rectangle-e {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 339px;
  height: 50px;
  margin: 13px 0 0 22px;
  cursor: pointer;
  background: #0052b4;
  border: none;
  z-index: 35;
}
.read-all-f {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 337px;
  height: 44px;
  color: #ffffff;
  font-family: ABeeZee, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 44px;
  text-align: center;
  text-transform: capitalize;
  z-index: 35;
}
.recommand-books {
  display: block;
  position: relative;
  height: 46px;
  margin: 19px 0 0 45px;
  color: #ffffff;
  font-family: ABeeZee, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 37.824px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 36;
}
.flex-row-a-10 {
  position: relative;
  width: 1377px;
  height: 240px;
  margin: 14px 0 0 39px;
  z-index: 59;
}
.lf {
  position: absolute;
  width: 168px;
  height: 240px;
  top: 0;
  left: 63px;
  background: url(./assets/images/75a3400e91a5456d91aa256c86bcc97caa97ea7e.png)
    no-repeat center;
  background-size: cover;
  z-index: 38;
  border-radius: 25px;
}
.lf-11 {
  position: absolute;
  width: 168px;
  height: 240px;
  top: 0;
  left: 247px;
  background: url(./assets/images/b4da0e8f31e224d83e8a3aa72df42e0605fed27c.png)
    no-repeat center;
  background-size: cover;
  z-index: 41;
  border-radius: 25px;
}
.lf-12 {
  position: absolute;
  width: 168px;
  height: 240px;
  top: 0;
  left: 429px;
  background: url(./assets/images/f09e7c116946032c6716a8deb59dd6b1731d9f68.png)
    no-repeat center;
  background-size: cover;
  z-index: 44;
  border-radius: 25px;
}
.lf-13 {
  position: absolute;
  width: 168px;
  height: 240px;
  top: 0;
  left: 610px;
  background: url(./assets/images/621263e862ed739c489d58dab8ad24cecd55e55b.png)
    no-repeat center;
  background-size: cover;
  z-index: 47;
  border-radius: 25px;
}
.lf-14 {
  position: absolute;
  width: 168px;
  height: 240px;
  top: 0;
  left: 790px;
  background: url(./assets/images/48a6eb2ee5ae267e7a9c5970886e264641ceb5e7.png)
    no-repeat center;
  background-size: cover;
  z-index: 50;
  border-radius: 25px;
}
.lf-15 {
  position: absolute;
  width: 168px;
  height: 240px;
  top: 0;
  left: 969px;
  background: url(./assets/images/64407a56a3226cd52a30ea66fccf5ff634fcfe5a.png)
    no-repeat center;
  background-size: cover;
  z-index: 53;
  border-radius: 25px;
}
.lf-16 {
  position: absolute;
  width: 168px;
  height: 240px;
  top: 0;
  left: 1150px;
  background: url(./assets/images/38ce953e55ebc2cf5e8e72f349d43ef3041e4cdc.png)
    no-repeat center;
  background-size: cover;
  z-index: 56;
  border-radius: 25px;
}
.group {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 103px;
  left: 0;
  background: url(./assets/images/7bf1b718-008a-4acc-8125-b68d0f230da1.png)
    no-repeat center;
  background-size: cover;
  z-index: 59;
}
.group-17 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 103px;
  left: 1332px;
  background: url(./assets/images/99229ce9-56f5-4c35-bcb4-1dbfdfa48f38.png)
    no-repeat center;
  background-size: cover;
  z-index: 58;
}
.flex-row-cbc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1238px;
  height: 30px;
  margin: 12px 0 0 115px;
  z-index: 57;
}
.the-party {
  flex-shrink: 0;
  position: relative;
  height: 30px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 39;
}
.a-man-called-ove {
  flex-shrink: 0;
  position: relative;
  height: 30px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 42;
}
.who-will-cry {
  flex-shrink: 0;
  position: relative;
  height: 30px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 45;
}
.meditations {
  flex-shrink: 0;
  position: relative;
  height: 30px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 48;
}
.rich-dad-poor-dad {
  flex-shrink: 0;
  position: relative;
  height: 30px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 51;
}
.rich-dad-poor-dad-18 {
  flex-shrink: 0;
  position: relative;
  height: 30px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 54;
}
.rich-dad-poor-dad-19 {
  flex-shrink: 0;
  position: relative;
  height: 30px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 57;
}
