:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 984px;
  margin: 0 auto;
  background: #1d1d1f;
  overflow: hidden;
}
.flex-row-ce {
  position: relative;
  width: 1368px;
  height: 1016px;
  margin: 19px 0 0 18px;
  z-index: 108;
}
.rectangle {
  position: absolute;
  width: 278px;
  height: 948px;
  top: 0;
  left: 0;
  font-size: 0px;
  background: url(./assets/images/809bfab3-d7f1-4e77-b7fd-5aa68ab21b22.png)
    no-repeat center;
  background-size: cover;
  z-index: 2;
}
.book-store {
  display: block;
  position: relative;
  height: 30px;
  margin: 31px 0 0 33px;
  color: #ffffff;
  font-family: Sofia Sans, var(--default-font-family);
  font-size: 25px;
  font-weight: 800;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 35;
}
.rectangle-1 {
  position: relative;
  width: 252px;
  height: 42px;
  margin: 27px 0 0 13px;
  background: #303030;
  z-index: 32;
  border-radius: 10px;
}
.icons-search {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 9px;
  left: 9px;
  background: url(./assets/images/ab744db8-4210-430e-94ca-18d6f78569a3.png)
    no-repeat center;
  background-size: cover;
  z-index: 33;
  overflow: hidden;
}
.search {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 13px;
  left: 102px;
  color: #ffffff;
  font-family: Sofia Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 34;
}
.flex-row-e {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 115px;
  height: 35px;
  margin: 30px 0 0 0;
  z-index: 40;
}
.rectangle-2 {
  flex-shrink: 0;
  position: relative;
  width: 7px;
  height: 35px;
  background: #c3cc5a;
  z-index: 40;
  border-radius: 0 5px 5px 0;
}
.icons-home {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(./assets/images/bf2e6ad2-c72b-4d43-ac89-e57d8f61ce03.png)
    no-repeat center;
  background-size: cover;
  z-index: 38;
  overflow: hidden;
}
.home-3 {
  flex-shrink: 0;
  position: relative;
  height: 24px;
  color: #c3cc5a;
  font-family: Sofia Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 39;
}
.flex-row-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 126px;
  height: 24px;
  margin: 18px 0 0 25px;
  z-index: 41;
}
.book-outlined {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(./assets/images/1fa0bdf9-8345-428e-a814-38b9988693c5.png)
    no-repeat center;
  background-size: cover;
  z-index: 41;
  overflow: hidden;
}
.book-mark {
  flex-shrink: 0;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Sofia Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 13;
}
.flex-row-ebc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 110px;
  height: 24px;
  margin: 22px 0 0 25px;
  z-index: 10;
}
.container-outlined {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(./assets/images/74add374-1c21-4ba1-9bea-0cb23c83a60b.png)
    no-repeat center;
  background-size: cover;
  z-index: 10;
  overflow: hidden;
}
.contact {
  flex-shrink: 0;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Sofia Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 9;
}
.flex-row {
  position: relative;
  width: 97px;
  height: 26px;
  margin: 20px 0 0 23px;
  z-index: 42;
}
.user-outlined {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background: url(./assets/images/1029fa3b-3004-4a37-949e-f10ad9839945.png)
    no-repeat center;
  background-size: cover;
  z-index: 42;
  overflow: hidden;
}
.message-circle {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 2px;
  left: 1px;
  z-index: 6;
  overflow: hidden;
}
.profile {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 2px;
  left: 40px;
  color: #ffffff;
  font-family: Sofia Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 7;
}
.flex-row-ae {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 93px;
  height: 24px;
  margin: 22px 0 0 23px;
  z-index: 43;
}
.info-circle-outlined {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(./assets/images/1e0c8807-6bd9-4be1-a2eb-42cbb7c17c3b.png)
    no-repeat center;
  background-size: cover;
  z-index: 43;
  overflow: hidden;
}
.about {
  flex-shrink: 0;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Sofia Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 4;
}
.group {
  position: relative;
  width: 252px;
  height: 42px;
  margin: 440px 0 0 11px;
  background: url(./assets/images/25da969e-aff2-41e9-a760-0e24bd0cf8f1.png)
    no-repeat center;
  background-size: cover;
  z-index: 24;
  border-radius: 10px;
}
.sun {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 11px;
  left: 29px;
  background: url(./assets/images/c9cdf367-70bb-4aa5-8757-806597d95efb.png)
    no-repeat center;
  background-size: cover;
  z-index: 26;
  overflow: hidden;
}
.moon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 11px;
  left: 159px;
  background: url(./assets/images/67983ba4-5c55-4524-9cc2-d558e89ef285.png)
    no-repeat center;
  background-size: cover;
  z-index: 29;
  overflow: hidden;
}
.light {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 12px;
  left: 58px;
  color: #ffffff;
  font-family: Sofia Sans, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 27;
}
.dark {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 12px;
  left: 182px;
  color: #ffffff;
  font-family: Sofia Sans, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 30;
}
.flex-row-df {
  position: relative;
  width: 252px;
  height: 45px;
  margin: 32px 0 0 13px;
  z-index: 22;
}
.rectangle-4 {
  position: absolute;
  width: 202px;
  height: 42px;
  top: 0;
  left: 0;
  cursor: pointer;
  background: #303030;
  border: none;
  z-index: 18;
  border-radius: 10px;
}
.flex-column-ad {
  position: absolute;
  width: 131px;
  height: 35px;
  top: 3px;
  left: 49px;
  font-size: 0px;
  z-index: 21;
}
.varun-kubal {
  display: block;
  position: relative;
  height: 18px;
  margin: 0 0 0 0;
  color: #c3cc5a;
  font-family: Sofia Sans, var(--default-font-family);
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 20;
}
.varun-kubal-gmail {
  display: block;
  position: relative;
  height: 14px;
  margin: 3px 0 0 0;
  color: #ffffff;
  font-family: Sofia Sans, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
  text-transform: lowercase;
  white-space: nowrap;
  z-index: 21;
}
.rectangle-5 {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 4px;
  left: 4px;
  background: #c3cc5a;
  z-index: 19;
  border-radius: 10px;
}
.rectangle-6 {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 2px;
  left: 210px;
  background: #303030;
  z-index: 15;
  border-radius: 10px;
}
.icons-log-out {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 9px 0 0 9px;
  background: url(./assets/images/b690ccaf-965f-4edd-bca3-3fd8e76b9c5b.png)
    no-repeat center;
  background-size: cover;
  z-index: 16;
  overflow: hidden;
}
.icons-user {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 17px;
  left: 8px;
  background: url(./assets/images/b5cba7da-ab4b-4ef5-b2ce-edf6f9dea4de.png)
    no-repeat center;
  background-size: cover;
  z-index: 22;
  overflow: hidden;
}
.rectangle-7 {
  position: absolute;
  width: 1056px;
  height: 281px;
  top: 26px;
  left: 312px;
  background: #3d4d78;
  z-index: 45;
  border-radius: 10px;
}
.lf {
  position: absolute;
  width: 170px;
  height: 256px;
  top: 9px;
  left: 862px;
  background: url(./assets/images/11e29d2c087006cd98fa69f7a6dcc0f0129eceff.png)
    no-repeat center;
  background-size: cover;
  z-index: 46;
  border-radius: 20px;
}
.flex-column-fe {
  position: absolute;
  width: 602px;
  height: 205px;
  top: 40px;
  left: 11px;
  font-size: 0px;
  z-index: 52;
}
.time-of-the-child {
  display: block;
  position: relative;
  height: 35px;
  margin: 0 0 0 2px;
  color: #ffffff;
  font-family: Sofia Sans, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 47;
}
.frame {
  position: relative;
  width: 124px;
  height: 20px;
  margin: 21px 0 0 13px;
  background: url(./assets/images/b0978e41-c5c3-4f89-a951-5364afddabf7.png)
    no-repeat center;
  background-size: cover;
  z-index: 52;
}
.a-tender-tale {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 596px;
  height: 79px;
  margin: 19px 0 0 6px;
  color: #ffffff;
  font-family: ABeeZee, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 17.73px;
  text-align: left;
  text-transform: capitalize;
  z-index: 48;
}
.rectangle-8 {
  position: absolute;
  width: 262px;
  height: 43px;
  top: 170px;
  left: 4px;
  background: #b3bc4e;
  z-index: 50;
  border-radius: 10px;
}
.read-now {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 252px;
  height: 26px;
  top: 179px;
  left: 0;
  color: #000000;
  font-family: ABeeZee, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 23.64px;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 51;
}
.frame-9 {
  position: absolute;
  width: 142px;
  height: 10px;
  top: 332px;
  left: 693px;
  background: url(./assets/images/cc979313-fce4-4ec9-9fac-04939e0c06f5.png)
    no-repeat center;
  background-size: cover;
  z-index: 53;
}
.new-book-the-week {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 330px;
  height: 46px;
  top: 348px;
  left: 321px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.125px;
  text-align: left;
  text-transform: capitalize;
  z-index: 54;
}
.new-book-the-week-a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 330px;
  height: 46px;
  top: 348px;
  left: 321px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.125px;
  text-align: left;
  text-transform: capitalize;
  z-index: 73;
}
.lf-b {
  position: absolute;
  width: 168px;
  height: 240px;
  top: 408px;
  left: 384px;
  background: url(./assets/images/75a3400e91a5456d91aa256c86bcc97caa97ea7e.png)
    no-repeat center;
  background-size: cover;
  z-index: 56;
  border-radius: 25px;
}
.lf-c {
  position: absolute;
  width: 168px;
  height: 240px;
  top: 0;
  left: 0;
  background: url(./assets/images/75a3400e91a5456d91aa256c86bcc97caa97ea7e.png)
    no-repeat center;
  background-size: cover;
  z-index: 75;
  border-radius: 25px;
}
.lf-d {
  position: absolute;
  width: 168px;
  height: 240px;
  top: 408px;
  left: 568px;
  background: url(./assets/images/b4da0e8f31e224d83e8a3aa72df42e0605fed27c.png)
    no-repeat center;
  background-size: cover;
  z-index: 59;
  border-radius: 25px;
}
.lf-e {
  position: absolute;
  width: 168px;
  height: 240px;
  top: 0;
  left: 0;
  background: url(./assets/images/b4da0e8f31e224d83e8a3aa72df42e0605fed27c.png)
    no-repeat center;
  background-size: cover;
  z-index: 78;
  border-radius: 25px;
}
.lf-f {
  position: absolute;
  width: 168px;
  height: 240px;
  top: 408px;
  left: 751px;
  background: url(./assets/images/f09e7c116946032c6716a8deb59dd6b1731d9f68.png)
    no-repeat center;
  background-size: cover;
  z-index: 62;
  border-radius: 25px;
}
.lf-10 {
  position: absolute;
  width: 168px;
  height: 240px;
  top: 0;
  left: 0;
  background: url(./assets/images/f09e7c116946032c6716a8deb59dd6b1731d9f68.png)
    no-repeat center;
  background-size: cover;
  z-index: 81;
  border-radius: 25px;
}
.lf-11 {
  position: absolute;
  width: 168px;
  height: 240px;
  top: 408px;
  left: 933px;
  background: url(./assets/images/621263e862ed739c489d58dab8ad24cecd55e55b.png)
    no-repeat center;
  background-size: cover;
  z-index: 65;
  border-radius: 25px;
}
.lf-12 {
  position: absolute;
  width: 168px;
  height: 240px;
  top: 0;
  left: 0;
  background: url(./assets/images/621263e862ed739c489d58dab8ad24cecd55e55b.png)
    no-repeat center;
  background-size: cover;
  z-index: 84;
  border-radius: 25px;
}
.lf-13 {
  position: absolute;
  width: 168px;
  height: 240px;
  top: 408px;
  left: 1115px;
  background: url(./assets/images/48a6eb2ee5ae267e7a9c5970886e264641ceb5e7.png)
    no-repeat center;
  background-size: cover;
  z-index: 68;
  border-radius: 25px;
}
.lf-14 {
  position: absolute;
  width: 168px;
  height: 240px;
  top: 0;
  left: 0;
  background: url(./assets/images/48a6eb2ee5ae267e7a9c5970886e264641ceb5e7.png)
    no-repeat center;
  background-size: cover;
  z-index: 86;
  border-radius: 25px;
}
.group-15 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 511px;
  left: 315px;
  background: url(./assets/images/a0f40dea-d1d6-4a29-9940-38efd6ba157e.png)
    no-repeat center;
  background-size: cover;
  z-index: 71;
}
.group-16 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 0;
  left: 0;
  background: url(./assets/images/29045902-f500-4f60-8aec-fc94a66cc0ee.png)
    no-repeat center;
  background-size: cover;
  z-index: 89;
}
.group-17 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 511px;
  left: 1309px;
  background: url(./assets/images/49bde1a0-2e52-4bb1-bb08-79d07e121838.png)
    no-repeat center;
  background-size: cover;
  z-index: 70;
}
.group-18 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 0;
  left: 0;
  background: url(./assets/images/a886d672-f5e5-4390-a039-15712abd4b5f.png)
    no-repeat center;
  background-size: cover;
  z-index: 88;
}
.the-party {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 660px;
  left: 397px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 23.438px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 57;
}
.the-party-19 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 660px;
  left: 397px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 23.438px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 76;
}
.a-man-called-ove {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 660px;
  left: 581px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 23.438px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 60;
}
.a-man-called-ove-1a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 660px;
  left: 581px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 23.438px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 79;
}
.who-will-cry {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 660px;
  left: 764px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 23.438px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 63;
}
.who-will-cry-1b {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 660px;
  left: 764px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 23.438px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 82;
}
.meditations {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 660px;
  left: 946px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 23.438px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 66;
}
.rich-dad-poor-dad {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 660px;
  left: 1128px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 23.438px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 69;
}
.rich-dad-poor-dad-1c {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 660px;
  left: 1128px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 23.438px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 87;
}
.most-popular-book {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 330px;
  height: 46px;
  top: 716px;
  left: 321px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.125px;
  text-align: left;
  text-transform: capitalize;
  z-index: 91;
}
.lf-1d {
  position: absolute;
  width: 168px;
  height: 240px;
  top: 776px;
  left: 384px;
  background: url(./assets/images/75a3400e91a5456d91aa256c86bcc97caa97ea7e.png)
    no-repeat center;
  background-size: cover;
  z-index: 93;
  border-radius: 25px;
}
.lf-1e {
  position: absolute;
  width: 168px;
  height: 240px;
  top: 776px;
  left: 568px;
  background: url(./assets/images/b4da0e8f31e224d83e8a3aa72df42e0605fed27c.png)
    no-repeat center;
  background-size: cover;
  z-index: 96;
  border-radius: 25px;
}
.lf-1f {
  position: absolute;
  width: 168px;
  height: 240px;
  top: 776px;
  left: 751px;
  background: url(./assets/images/f09e7c116946032c6716a8deb59dd6b1731d9f68.png)
    no-repeat center;
  background-size: cover;
  z-index: 99;
  border-radius: 25px;
}
.lf-20 {
  position: absolute;
  width: 168px;
  height: 240px;
  top: 776px;
  left: 933px;
  background: url(./assets/images/621263e862ed739c489d58dab8ad24cecd55e55b.png)
    no-repeat center;
  background-size: cover;
  z-index: 102;
  border-radius: 25px;
}
.lf-21 {
  position: absolute;
  width: 168px;
  height: 240px;
  top: 776px;
  left: 1115px;
  background: url(./assets/images/48a6eb2ee5ae267e7a9c5970886e264641ceb5e7.png)
    no-repeat center;
  background-size: cover;
  z-index: 105;
  border-radius: 25px;
}
.group-22 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 879px;
  left: 315px;
  background: url(./assets/images/6666a766-2341-4bbc-840f-2796bb35f62e.png)
    no-repeat center;
  background-size: cover;
  z-index: 108;
}
.group-23 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 879px;
  left: 1309px;
  background: url(./assets/images/b6fd1f78-4b24-42d7-84d3-3e18159ac2f9.png)
    no-repeat center;
  background-size: cover;
  z-index: 107;
}
.flex-row-e-24 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 882px;
  height: 30px;
  margin: 12px 0 0 415px;
  z-index: 106;
}
.the-party-25 {
  flex-shrink: 0;
  position: relative;
  height: 30px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 94;
}
.a-man-called-ove-26 {
  flex-shrink: 0;
  position: relative;
  height: 30px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 97;
}
.who-will-cry-27 {
  flex-shrink: 0;
  position: relative;
  height: 30px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 100;
}
.meditations-28 {
  flex-shrink: 0;
  position: relative;
  height: 30px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 103;
}
.rich-dad-poor-dad-29 {
  flex-shrink: 0;
  position: relative;
  height: 30px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 106;
}
